.container {
    background-color: $mainYellow;
    box-shadow: 10px 10px 5px black;
    border-radius: 25px;

    width: 360px;
    margin: 100px auto;
    padding: 20px;
}

.title {
    float: left;
    //text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    color: $mainGrey;
    
    padding: 0;
    
    span {
        font-weight: normal;
        color: $mainWhite;

    }
}

.btnAdd {
    float: right;
    position: relative;
    height: 40px;
    width: 40px;
    background-color: $mainYellow;
    color: $mainGrey;
    cursor: pointer;

    //margin-top: 5px;
    //margin-right: 1.25rem;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

input {
    display: none;
    width: 100%;
    background-color: $lightGrey;
    font-size: 1.15rem;
    padding: .5rem .5rem .5rem 1.25rem; 
    outline: none;
    border: 3px solid $mainYellow;
    margin-bottom: 10px;
    transition: transform .5s ease-out .1s;
}

input:focus {
    background-color: $mainWhite;
}

#editForm {
    font-style: italic;
}

#editForm:focus {
    font-style: italic;
}

.actions {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 .25em;

    button {
        margin-right: .5em;
        color: $mainWhite;
        background-color: $mainYellow;
        border: none;
        cursor: pointer;
        font-size: 1.25rem;
        display: none;
    }

    input#checkAll {
        background-color: $mainWhite;
        display: block;
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }
}